<!DOCTYPE html>
<html>
<head>
  <title>RewardService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container well main" >
  <div class="row reward_image">
    <div class="col-md-6"><%= image_tag("rewards.png", alt: "Sky Rewards") %></div>
    <div class="col-md-6">
        <%= bootstrap_form_tag url: main_form_input_path, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-7" do |f| %>

          <%= f.text_field :account_number, placeholder: '123', label: "Account", help: "Account number must 3 digits" %>

          <%= f.select :portfolio, @portfolios , { class: "selectpicker" } %>

          <%= f.form_group do %>
            <%= f.submit "Are You Eligible?" %>
          <% end %>

        <% end %>
    </div>
  </div>

  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4 alert alert-info alert_box">
        <div class="page-header">
          <h3>Reward Service <small>Information</small></h3>
        </div>
        The database contains 200 customers with account numbers ranging from from Sky0000 to Sky000199.
        Even number customers are eligible and odd number customers are ineligible
      </div>
      <div class="col-md-1"></div>
      
      <%= yield %>

  </div>

</div>





</body>
</html>
